html, body {
	padding: 0;
	margin: 10 10 10 10px;
	border: 0;
	height: 100%;
	overflow: hidden;
}

#form table{
	margin: auto;
}
#form table td:nth-child(2n){
	text-align: left;
	width: 200px;
}
#form table td:nth-child(2n+1){
	text-align: right;
	width:100px;
}

#form{
	margin:0,auto;
 text-align:center;
}

#picker{
	float:left;
	margin-left: 0px;
}