
#form1 table{
	margin: auto;
}
#form1 table td:nth-child(2n){
	text-align: left;
	width: 200px;
}
#form1 table td:nth-child(2n+1){
	text-align: right;
	width:140px;
}

#form1{
	margin:0,auto;
    text-align:center;
}

#picker{
	float:left;
}

p span{
  color:red;
}
